## Question - 1

In [ ]:
from pyhive import hive

# Connection
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Create table query
create_table_query = """
    CREATE TABLE Employees (
        id INT,
        name STRING,
        salary FLOAT
    )
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(create_table_query)

# Close connection
conn.close()

## Question - 2

In [ ]:
from pyhive import hive

# Connection
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to retrieve records
query = """
    SELECT *
    FROM Customers
    WHERE age > 30
"""

# Execute query
with conn.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

# results
for row in results:
    print(row)

# Close the connection
conn.close()

## Question - 3

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to sort records
query = """
    SELECT *
    FROM Logs
    ORDER BY timestamp DESC
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the connection
conn.close()

## Question - 4

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to retrieve all records
query = """
    SELECT *
    FROM Products
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the connection
conn.close()

## Question - 5

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to calculate average salary
query = """
    SELECT AVG(salary) AS average_salary
    FROM Employees
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(query)
    result = cursor.fetchone()

# Process the result
average_salary = result[0]
print("Average Salary:", average_salary)

# Close the connection
conn.close()

## Question - 6

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Create partitioned table query
create_table_query = """
    CREATE TABLE Sales_Data (
        prod_id int,
        year int,
        month int,
        amount float
    )
    PARTITIONED BY (year INT, month INT)
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(create_table_query)

# Close the connection
conn.close()

## Question - 7

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Alter table query to add a new column
alter_table_query = """
    ALTER TABLE Employees
    ADD COLUMNS (email STRING)
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(alter_table_query)

# Close the connection
conn.close()

## Question - 8

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to perform inner join
query = """
    SELECT *
    FROM Orders
    INNER JOIN Customers ON Orders.customer_id = Customers.customer_id
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the connection
conn.close()

## Question - 9

In [ ]:
from pyhive import hive

# Connect to Hive server
conn = hive.Connection(host="localhost", port=10000, username="uday")

# Query to retrieve JSON data
query = """
    SELECT *
    FROM User_Activity_Logs
"""

# Execute the query
with conn.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()

# results
for row in results:
    json_data = row[0]

    # Process the JSON data
    for key, value in json_data.items():
        print(f"{key}: {value}")

    print()  
# Close the connection
conn.close()