In [1]:
spark = SparkSession.builder.master("local[*]").appName("demo").getOrCreate()

In [2]:
import pyspark
from pyspark.sql import SparkSession
s = spark.sparkContext

## Question - 1

In [3]:
csv_path = "file:///root/ipynb/departments.csv"
rdd = s.textFile(csv_path)

In [4]:
rdd.collect()

['DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID',
 '10,Administration,200,1700',
 '20,Marketing,201,1800',
 '30,Purchasing,114,1700',
 '40,Human Resources,203,2400',
 '50,Shipping,121,1500',
 '60,IT,103,1400',
 '70,Public Relations,204,2700',
 '80,Sales,145,2500',
 '90,Executive,100,1700',
 '100,Finance,108,1700',
 '110,Accounting,205,1700',
 '120,Treasury, - ,1700',
 '130,Corporate Tax, - ,1700',
 '140,Control And Credit, - ,1700',
 '150,Shareholder Services, - ,1700',
 '160,Benefits, - ,1700',
 '170,Manufacturing, - ,1700',
 '180,Construction, - ,1700',
 '190,Contracting, - ,1700',
 '200,Operations, - ,1700',
 '210,IT Support, - ,1700',
 '220,NOC, - ,1700',
 '230,IT Helpdesk, - ,1700',
 '240,Government Sales, - ,1700',
 '250,Retail Sales, - ,1700',
 '260,Recruiting, - ,1700',
 '270,Payroll, - ,1700']

In [5]:
# Header rdd
header_rdd = rdd.first()
data_rdd = rdd.filter(lambda row: row != header_rdd)
data_rdd.collect()

['10,Administration,200,1700',
 '20,Marketing,201,1800',
 '30,Purchasing,114,1700',
 '40,Human Resources,203,2400',
 '50,Shipping,121,1500',
 '60,IT,103,1400',
 '70,Public Relations,204,2700',
 '80,Sales,145,2500',
 '90,Executive,100,1700',
 '100,Finance,108,1700',
 '110,Accounting,205,1700',
 '120,Treasury, - ,1700',
 '130,Corporate Tax, - ,1700',
 '140,Control And Credit, - ,1700',
 '150,Shareholder Services, - ,1700',
 '160,Benefits, - ,1700',
 '170,Manufacturing, - ,1700',
 '180,Construction, - ,1700',
 '190,Contracting, - ,1700',
 '200,Operations, - ,1700',
 '210,IT Support, - ,1700',
 '220,NOC, - ,1700',
 '230,IT Helpdesk, - ,1700',
 '240,Government Sales, - ,1700',
 '250,Retail Sales, - ,1700',
 '260,Recruiting, - ,1700',
 '270,Payroll, - ,1700']

In [6]:
# Map
values_rdd = data_rdd.map(lambda row: row.split(','))
values_rdd.collect()

[['10', 'Administration', '200', '1700'],
 ['20', 'Marketing', '201', '1800'],
 ['30', 'Purchasing', '114', '1700'],
 ['40', 'Human Resources', '203', '2400'],
 ['50', 'Shipping', '121', '1500'],
 ['60', 'IT', '103', '1400'],
 ['70', 'Public Relations', '204', '2700'],
 ['80', 'Sales', '145', '2500'],
 ['90', 'Executive', '100', '1700'],
 ['100', 'Finance', '108', '1700'],
 ['110', 'Accounting', '205', '1700'],
 ['120', 'Treasury', ' - ', '1700'],
 ['130', 'Corporate Tax', ' - ', '1700'],
 ['140', 'Control And Credit', ' - ', '1700'],
 ['150', 'Shareholder Services', ' - ', '1700'],
 ['160', 'Benefits', ' - ', '1700'],
 ['170', 'Manufacturing', ' - ', '1700'],
 ['180', 'Construction', ' - ', '1700'],
 ['190', 'Contracting', ' - ', '1700'],
 ['200', 'Operations', ' - ', '1700'],
 ['210', 'IT Support', ' - ', '1700'],
 ['220', 'NOC', ' - ', '1700'],
 ['230', 'IT Helpdesk', ' - ', '1700'],
 ['240', 'Government Sales', ' - ', '1700'],
 ['250', 'Retail Sales', ' - ', '1700'],
 ['260', 'Recruiting', ' - ', '1700'],
 ['270', 'Payroll', ' - ', '1700']]

In [7]:
# Filter
filtered_rdd = values_rdd.filter(lambda values: values[2] != ' - ')
filtered_rdd.collect()

[['10', 'Administration', '200', '1700'],
 ['20', 'Marketing', '201', '1800'],
 ['30', 'Purchasing', '114', '1700'],
 ['40', 'Human Resources', '203', '2400'],
 ['50', 'Shipping', '121', '1500'],
 ['60', 'IT', '103', '1400'],
 ['70', 'Public Relations', '204', '2700'],
 ['80', 'Sales', '145', '2500'],
 ['90', 'Executive', '100', '1700'],
 ['100', 'Finance', '108', '1700'],
 ['110', 'Accounting', '205', '1700']]

In [8]:
max_dept = data_rdd.reduce(lambda x, y: x if len(x.split(',')[1]) > len(y.split(',')[1]) else y)
max_dept

'150,Shareholder Services, - ,1700'

In [9]:
# Aggregation
total_count = filtered_rdd.count()
total_location_ids = filtered_rdd.map(lambda values: int(values[3])).sum()
average_location_id = total_location_ids / total_count

print('total_count = ', total_count)
print('total_location_ids = ', total_location_ids)
print('average_location_id = ', average_location_id)

total_count =  11
total_location_ids =  20800
average_location_id =  1890.909090909091

## Question - 2

In [10]:
df = spark.read.csv("file:///root/ipynb/employees.csv",header = True, inferSchema = True)
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [11]:
# Filter
filter_df = df.filter(df.SALARY > 2000)
filter_df.select('FIRST_NAME','LAST_NAME','salary' ).show()

+----------+---------+------+
|FIRST_NAME|LAST_NAME|salary|
+----------+---------+------+
|    Donald| OConnell|  2600|
|   Douglas|    Grant|  2600|
|  Jennifer|   Whalen|  4400|
|   Michael|Hartstein| 13000|
|       Pat|      Fay|  6000|
|     Susan|   Mavris|  6500|
|   Hermann|     Baer| 10000|
|   Shelley|  Higgins| 12008|
|   William|    Gietz|  8300|
|    Steven|     King| 24000|
|     Neena|  Kochhar| 17000|
|       Lex|  De Haan| 17000|
| Alexander|   Hunold|  9000|
|     Bruce|    Ernst|  6000|
|     David|   Austin|  4800|
|     Valli|Pataballa|  4800|
|     Diana|  Lorentz|  4200|
|     Nancy|Greenberg| 12008|
|    Daniel|   Faviet|  9000|
|      John|     Chen|  8200|
+----------+---------+------+
only showing top 20 rows

In [12]:
# Grouping
from pyspark.sql.functions import col
group_df = df.groupBy('JOB_ID').count()
group_df.show()

+----------+-----+
|    JOB_ID|count|
+----------+-----+
|FI_ACCOUNT|    5|
|    MK_MAN|    1|
|   IT_PROG|    5|
|    FI_MGR|    1|
|AC_ACCOUNT|    1|
|    HR_REP|    1|
|  PU_CLERK|    5|
|    AC_MGR|    1|
|    PR_REP|    1|
|    ST_MAN|    5|
|    MK_REP|    1|
|    PU_MAN|    1|
|  SH_CLERK|    2|
|   AD_PRES|    1|
|   AD_ASST|    1|
|  ST_CLERK|   16|
|     AD_VP|    2|
+----------+-----+

In [13]:
# JOIN

df1 = df.select('FIRST_NAME','EMPLOYEE_ID')
df2 = df.select('LAST_NAME','EMPLOYEE_ID')
joined_df = df1.join(df2, on='EMPLOYEE_ID')
joined_df.show()

+-----------+----------+---------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|
+-----------+----------+---------+
|        198|    Donald| OConnell|
|        199|   Douglas|    Grant|
|        200|  Jennifer|   Whalen|
|        201|   Michael|Hartstein|
|        202|       Pat|      Fay|
|        203|     Susan|   Mavris|
|        204|   Hermann|     Baer|
|        205|   Shelley|  Higgins|
|        206|   William|    Gietz|
|        100|    Steven|     King|
|        101|     Neena|  Kochhar|
|        102|       Lex|  De Haan|
|        103| Alexander|   Hunold|
|        104|     Bruce|    Ernst|
|        105|     David|   Austin|
|        106|     Valli|Pataballa|
|        107|     Diana|  Lorentz|
|        108|     Nancy|Greenberg|
|        109|    Daniel|   Faviet|
|        110|      John|     Chen|
+-----------+----------+---------+
only showing top 20 rows

In [14]:
# Spark SQL Queries
from pyspark.sql.functions import month
df.createOrReplaceTempView('Employees')
query = '''select EMPLOYEE_ID, FIRST_NAME
           from Employees
           where HIRE_DATE = '07-JUN-02' '''
result = spark.sql(query)
result.show()

+-----------+----------+
|EMPLOYEE_ID|FIRST_NAME|
+-----------+----------+
|        203|     Susan|
|        204|   Hermann|
|        205|   Shelley|
|        206|   William|
+-----------+----------+

## Question - 3

In [ ]:
from pyspark.sql import SparkSession
from pyspark.streaming import StreamingContext
from pyspark.streaming.kafka import KafkaUtils

# Create a SparkSession
spark = SparkSession.builder.appName("SparkStreamingKafkaApp").getOrCreate()

# Create a StreamingContext with a batch interval of 1 second
ssc = StreamingContext(spark.sparkContext, 1)

# Configure Kafka parameters
brokers = "localhost:9092"  # Replace with your Kafka brokers
topic = "my_topic"  # Replace with your Kafka topic

# Create a DStream that represents the data stream from Kafka
kafkaStream = KafkaUtils.createDirectStream(ssc, [topic], {"metadata.broker.list": brokers})

# Extract the values from Kafka messages
lines = kafkaStream.map(lambda x: x[1])

# Implement streaming transformations and actions on the DStream
wordCounts = lines.flatMap(lambda line: line.split(" ")) \
                  .map(lambda word: (word, 1)) \
                  .reduceByKey(lambda a, b: a + b)

# Print the word counts
wordCounts.pprint()

# Start the streaming context
ssc.start()

# Wait for the streaming to finish
ssc.awaitTermination()

## Quesiton - 4

In [15]:
from pyspark.sql import SparkSession
sparkDriver = SparkSession.builder.master('local').appName("MySQL").\
config('spark.jars.packages','ipynb/mysql-connector-j-8.0.33.tar.gz').\
getOrCreate()

In [ ]:
df_mysql = sparkDriver.read.format('jdbc').\
option('url','jdbc:mysql://localhost:3306').\
option('driver','com.mysql.jdbc.Driver').\
option('user','root').\
option('password','Kumar@47').\
option('dbtable','class_3').\
load()

In [ ]:
df_mysql.createOrReplaceTempView("Employees")
result_df = spark.sql("select * from Employees")